# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\Users\Tripl\Documents\GitHub\SW-Bot\.idea
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
